*{
    margin:0;
    font-family: Arial;
    border:border-box;

}
.navbar{
    height: 60px;
    background-color:black;
    color:azure;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.navlogo{
    height: 60px;
    width: 100px;
    display:flex;
   

}
.logo{
    background-image: url("images\ \(3\).png");
width:100%;
height: 50px;
background-size: cover;

}




.border{
    

    border:2px solid transparent;}


.border:hover{
    border:1.5px solid white;
    
}
/**box 2**/
.add-first {
    color:azure;
    font-size: 0.8rem;
    margin: left 15px;


}
.addsec{
    font-size: 1rem;

}
/** box3**/
.add-icon{
    display:flex;
    align-items: center;
}

.navsearch{
    display: flex;
    justify-content: space-evenly;
    background-color:palevioletred;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search{
    background-color:lightgrey;
    width:50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border:none;
    color:black;
}
.search-icon{
    width: 45px;
    display:flex;
    justify-content:center;
    align-items: center;
    font-size: 1.2rem;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: black;
    
}
.navsearch:hover{
    border:2px solid palevioletred;
}
/**box4**/
span{
    font-size: 0.7rem;
}
.nav-sec{
    font-size: 0.85rem;
    font-weight: 700;
}
.navcart i{
    font-size: 30px;

}
/** panel**/
.panel{
    height: 40px;
    background-color: palevioletred;
    display:flex;
    color:azure;
    align-items:center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline-flex;
    margin-left: 15px;

}
.panel-ops{
    width:70%;
    font-size: 0.85rem;
}
.panel-deal{
    font-size: 1rem;
    font-weight: 700;
}
.hero-section{
    background-image: url("back.png");
    height:300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color:palevioletred;
    height: 40px;
    display:flex;
    align-items: center;
    justify-content:center;
    font-size:0.85rem;
    width:85%;
    margin-bottom: 25px;
}
.hero-msg a{
    color:blueviolet;
}
.box{
    height: 400px;
    
    width:23%;
    background-color: white;
    margin-top:10px;
}
.shop-section{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#FFF7F8;
    padding:20px 0px 15px;

}
.box-img{
    height:300px;
    background-size:cover;
    margin-top: 1rem;
    margin-bottom:1rem;
   
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color:blueviolet;
}
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color:#dddddd;
    color:#222f3d;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:0.85rem;
}
.foot-panel2{
    background-color:azure;
    color:#222f3d;
    height:300px;
    display:flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display:block;
    font-size: 0.9rem;
    color:grey;

}
ul p{
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;}
.foot-panel3{
   
    background-color:black;
    height:70px;
    border-top: 0.5px solid white;
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("images\ \(3\).png");
    height:50px;
    width: 100px;
}
.foot-panel4{
    background-color:#222f3d;
    height: 80px;
    color: white;
}
.pages{
    font-size: 0.8rem;
    text-align: center;
    padding-top: 25px;

}
.copyright{
    font-size: 0.8rem;
    text-align: center;
    padding-top: 5px;


}

/* ===== Navbar Container ===== */
/* Makeup Navbar Only */
.makeup-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffd6e7;
    padding: 12px 25px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #b1246b;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 18px;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #b1246b;
    border-bottom: 2px solid #b1246b;
}
